body{
    background-color: gray;
}
.card{
    background-color: white;
    width: 350px;
    height: 150px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: inset;
    margin: auto;
}
button{
    background-color: rgba(17, 17, 235, 0.798);
    border: none;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}
p{
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}
